<!-- Main Content -->
    <div class="container">
      <div class="row">
        <div *ngIf="error" class="alert alert-danger">ERROR!1!</div>
        <div class="col-lg-6 col-md-12 mx-0">
          <ul class="list-group">
            <li class="list-group-item"
              *ngFor="let book of books">
              {{book.title}} - {{book.author}}
              <div class="pull-right">
                <span [style.color]="book.price > 15 ? 'red' : 'null'">€ {{book.price | number: '1.2-2'}}</span>
                <i class="fa fa-trash ml-2" (click)="delete(book)"></i>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 col-md12 mx0">
          <form #f="ngForm" (submit)="add(f)">
            <div class="form-group">
              <input [ngModel] type="text" class="form-control" name="title" placeholder="Insert title">
            </div>
            <div class="form-group">
              <input [ngModel] type="text" class="form-control" name="author" placeholder="Insert author">
            </div>
            <div class="form-group">
              <input [ngModel] type="number" class="form-control" name="price" placeholder="Insert price">
            </div>
            <div class="form-group">
              <input [ngModel] type="text" class="form-control" name="isbn" placeholder="Insert isbn">
            </div>
            <div class="form-group">
              <textarea [ngModel] class="form-control" rows="3" name="description" placeholder="Insert description"></textarea>
            </div>
            <button type="submit" class="btn btn-outline-warning btn-sm mr-1">ADD</button>
          </form>
        </div>
      </div>
    </div>
  
    <hr>