<!-- Main Content -->
    <div class="container">
      <div class="row">
        <div *ngIf="error" class="alert alert-danger">ERROR!1!</div>
        <div class="col-lg-6 col-md-12 mx-0">
          <app-spinner *ngIf="!books"></app-spinner>
          <div class="search-book">
            <input
              type="text"
              class="form-control"
              name="search"
              [(ngModel)]="term"
              autocomplete="off"
              placeholder="&#61442; Cerca tramite titolo o autore..."
            >
          </div>
          <ul class="list-group">
            <li class="list-group-item"
              *ngFor="let book of books | paginate: {itemsPerPage: 5, currentPage: p} |filter:term"
              [ngClass]="{'active': book.id === active?.id}"
              (click)="setActive(book)"
              >
              <img [src]="book.img ? book.img : '../../assets/img/game-.png'" class="img-thumbnail mr2" alt="" width="40">
              {{book.title}} - {{book.author}}
              <div class="pull-right">
                <span [style.color]="book.price > 15 ? 'red' : 'null'">€ {{book.price | number: '1.2-2'}}</span>
                <i class="fa fa-info-circle ml-2" aria-hidden="true" [routerLink]="['/book', book.id]"></i>
                <i class="fa fa-trash ml-2" (click)="delete($event, book)"></i>
              </div>
            </li>
          </ul>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
        <div class="col-lg-6 col-md12 mx-0">
          <app-form
            [active]="active"
            [books]="books"
            (resetClick) = "reset()">
          </app-form>
        </div>
      </div>
    </div>
  
    <hr>